.contact-header .header {
  font-size: 30px;
  padding-left: 100px;
  position: relative;
  letter-spacing: 5px;
}
.contact-header .border {
  border-bottom: 2px solid black;
  width: 12%;
  position: absolute;
  left: 100px;
  bottom: -7px;
}